<section>
  <header>
      <!-- NavBar -->
      <nav class="navbar navbar-expand-lg p-4 bg-info">
          <div class="container">
              <a class="navbar-brand fs-4">DEMO APP</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <!--Toggle  -->
                  <span class="navbar-toggler-icon"></span>
              </button>
              <!-- Nav Items -->
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0  text-center ">


                      <li class="nav-item">
                          <a class="nav-link fw-semibold text-uppercase text-light  me-1" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link fw-semibold text-uppercase text-light  me-1" href="#">About Us</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link fw-semibold text-uppercase text-light  me-1" href="#">Jobs</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link fw-semibold text-uppercase text-light  me-1" href="#">Clients</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link fw-semibold text-uppercase text-light  me-1" href="#">Employeers</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link fw-semibold text-uppercase text-light  me-1" href="#">Employeers</a>
                      </li>



                      <li class="nav-item">
                          <a class="nav-link fw-semibold text-uppercase text-light  me-1" href="#">Contact us</a>
                      </li>


                  </ul>
              </div>
          </div>
      </nav>
  </header>


 </section>
 <section >

 <div class="container-fluid py-5">
  <div class="row d-flex justify-content-center py-5">
      <div class="col-6 pt-3 mx-5 d-flex">
         <div class="ms-5">
          <h5 class="text-info profile mb-3">Profile</h5>

          <img src="task.jpg" class="h-50 w-50" alt="">
         <div class="row">
          <div class="col-12">
            <div>
              <button class="btn btn-warning border-0 mt-2 me-3 rounded-0 "(click)="onEdit()">Edit Photo</button>
              <button class="btn btn-warning border-0 mt-2 me-3 rounded-0">Edit Profile</button>
            </div>
          </div>
         </div>
         </div>


          <div class="col-6 ">
              <div class="ms-5 mt-3">
                <p>I'm Caroline Kassidy and Im above 20 years and you can send your emails to
                  Caroline.Kassidy@publicis.con.I'live in the state of Alaska. I like to play hockey,football and reading <br>
                   books. And please send me newletters.Please
                   reach out out me on my phone number.
              </p>
              <div>

                <button class="btn btn-success btn-lg border-0 mt-2 me-3 rounded-0">I Agree</button>
              </div>
              </div>
          </div>
      </div>

  </div>
 </div>
 </section>
 <section class="bg-dark mail-info text-center p-5">
  <div class="row">
      <div class="col-12">
          <h6 class="text-light">Subscribe to our Job Seeker Mailing List</h6>
      </div>
  </div>
  <div class="row">
      <div class="col-4 text-center text-light">
          <div class="d-flex align-items-center justify-content-center">
              <input type="text" class="form-control border-info bg-dark text-light text-center" placeholder="Enter Your Email Address">
              <span class="text-light"><i class="fa-regular fa-envelope"></i></span>
          </div>
      </div>
  </div>
</section>
